.score-display {
  z-index: 1;
  position: fixed;
  bottom: 0;
  right: 0;
}

.progress {
  width: 100%;
  border-radius: 0;
}

.card-container {
  width: 80%;
  margin: auto;
  text-align: center;
}

.field {
  display: inline-block;
  margin: 20px auto;
  width: 30%;
}

.text-input {
  width: 80%;
}

.input-button{
  width:20%;
}